<a href="https://colab.research.google.com/github/ayushambhore/Airbnb-EDA/blob/main/Airbnb_NYC2019_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - Airbnb NYC 2019 EDA

##### **Project Type**    - EDA
##### **Contribution**    - Individual
##### **Name - Ayush Ambhore**

# **Project Summary -**

Write the summary here within 500-600 words.

# **GitHub Link -**

Link - https://github.com/ayushambhore/Airbnb-EDA

# **Problem Statement**

**Write Problem Statement Here.**

#### **Define Your Business Objective?**

Answer Here.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
#import library
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np # linear algebra
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool

### Dataset Loading

In [ ]:
# Load Dataset
url = 'https://raw.githubusercontent.com/ayushambhore/Airbnb-EDA/main/Airbnb%20NYC%202019.csv'
df = pd.read_csv(url,encoding='unicode_escape')

### Dataset First View

In [ ]:
# Dataset First Look
df.sample(10)

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
print(f' Row count = {df.shape[0]}\n Column count = {df.shape[1]}')

### Dataset Information

In [ ]:
# Dataset Info
df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
len(df[df.duplicated()])

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values 
print(df.isnull().sum())

In [ ]:
print(df.isnull().sum().sum())

In [ ]:
# Visualizing the missing values
sns.heatmap(df.isnull(), cbar=False);

### What did you know about your dataset?

The dataset is airbnb data of newyork 2019. The data have 16 columns and 48895 rows. The data have 20141 null values (name have 16 null values, host_name have 21 null values and last_review and reviews_per_month have 10052 null values each. The data have no duplicate rows.

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
df.columns

In [ ]:
# Dataset Describe
df.describe(include='all')

### Variables Description

1. id = unique ID
2. name = name of the listing
3. host_id = unique host ID
4. host_name = Name of the host
5. neighbourhood_group = location
6. latitude = Latitude range
7. longitude = Lpngitude range
8. room_type = Type of listing
9. price = price of listing
10. minimum_nights = minimum nights to be paid for
11. Number_of_reviews = Number of reviews
12. last_review = Content of the last review
13. reviews_per_month = Number of checks per month
14. calculated_host_listings_count= Total number of times host made listing
15. availability_365 = availability around the year

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
for i in df.columns.tolist():
  print("No. of unique values in ",i,"is",df[i].nunique(),".")

## 3. ***Data Wrangling***

### Data Wrangling Code

### **Null values**

As we saw earlier name column has 16 missing values, host_name column has 21 missing values and last_review and review_per_month both has 10052 missing values.

1. As the name column contains 16 null values we will simply drop these rows as it is not a huge chunk of data . 
Similarly we will drop host_name null values rows.

In [ ]:
df=df[df['name'].notna()]
df=df[df['host_name'].notna()]

df.shape

2. The columns- last review and review_per_month have 10052 missing values.

In [ ]:
print(f'These missing values contains {round((10052/df.shape[0])*100,2)}% of data')

we will drop these both columns as they are not useful for our study.

In [ ]:
df.drop(['last_review','reviews_per_month'], axis=1)

### What all manipulations have you done and insights you found?

1. The columns name and host_name contained some null values so i have deleted those rows as it didnt consist of major data.
2. Dropped the last_review and reviews_per_month columns as the null values contained 20% of the data and the columns was not required for the further study.
3. Now the data have 48858 rows and 14 columns.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1: **PIE CHART** on Distribution of room type

In [ ]:
df['room_type'].value_counts()

In [ ]:
data = df['room_type'].value_counts() 

labels = ['Entire home/apt', 'Private room','Shared room']

plt.figure(figsize=(10,10))
colors = ['#47B39C',"#FFC154","#EC6B56"]
explode=(0.01,0.01,0.1)

plt.pie(data, labels = labels,
        colors = colors,
        autopct='%.2f%%',
        explode=explode,
        textprops={'fontsize': 15})

plt.title('Distribution of Room Type',
          size=15,
          loc='center',
          pad=12)

plt.legend();

##### 1. Why did you pick the specific chart?

Pie chart easily explains the percentage comparison through area covered in a circle with different colors. Where differenet percentage comparison comes into action pie chart is used frequently. So, I used Pie chart and which helped me to get the percentage comparision of the dependant variable.

##### 2. What is/are the insight(s) found from the chart?

From the above chart i got to know that 51.97% listings are Entire Home/Apt while 45.65% are Private room and the rest 2.37% are shared room.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

The hotel owners should focus more on entire flats and private rooms . and they can do cost cuttings in shared rooms as people are not preferring shared room.

There can be a negative impact if in future the demand for shared room increases.

#### Chart - 2: **BARPLOT** on Frequency of hotel listings vs Area

In [ ]:
x_param1 =df['neighbourhood_group'].value_counts().keys()
y_param1 =df['neighbourhood_group'].value_counts().values

In [ ]:
plt.figure(figsize=(20,10))
sns.set(font_scale=2)

plt.xlabel('Area',size=25)
plt.ylabel('No of Listings',size=25)

graph = sns.barplot(x = x_param1,
                    y = y_param1 ,
                    linewidth=2,
                    palette= "tab10")

graph.set_title("Frequency of hotel listings vs Area",
                size=35,
                pad=12);

##### 1. Why did you pick the specific chart?

Bar charts show the frequency counts of values for the different levels of a categorical or nominal variable.

##### 2. What is/are the insight(s) found from the chart?

We can clearly see that Manhattan and brooklyn are the most popular for for hotel listing with more that 2000 hotel listings done in 2019 and staten island is the least popular with less than 500 listings .

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

The new hotel owners should build their hotels in the more populare area and should avoid the least popular area for better business.

#### Chart - 3: **BARPLOT** on top 20 Popular Locations

In [ ]:
x_param2 =df['neighbourhood'].value_counts().keys()[:20]
y_param2 =df['neighbourhood'].value_counts().values[:20]

In [ ]:
plt.figure(figsize=(20,10))
sns.set(font_scale=2)

plt.xlabel('No of Listings',size=25)
plt.ylabel('Location',size=25)

graph = sns.barplot(y = x_param2,
                    x = y_param2 ,
                    linewidth=2,
                    palette= "tab10")

graph.set_title("Top 20 Popular Locations",
                size=30,
                pad=12);

##### 1. Why did you pick the specific chart?

Bar charts show the frequency counts of values for the different levels of a categorical or nominal variable.

##### 2. What is/are the insight(s) found from the chart?

As we can see The most popluar location for hotel listings in Williamsburg

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

The new hotel owners and builders should focus more on these 20 Locations.

#### Chart - 4: **HISTOGRAM** on Minimum nights vs Listings

In [ ]:
plt.figure(figsize=(20,10))
sns.set(font_scale=2)
sns.set(style="darkgrid")

graph=sns.histplot(data = df,
                   x= "availability_365",
                   color = 'navy',
                   kde=True)
graph.set_title("Availability vs Listings",
                size=25,
                pad=12);

We will narrow our study to minimum 10 day availabiltiy as the data above it is all the same and we cannot find any conclusions on that.

In [ ]:
plt.figure(figsize=(20,10))
sns.set(font_scale=2)
sns.set(style="darkgrid")

data = df[df['availability_365']<=10]

graph=sns.histplot(data=data,
                   x="availability_365",
                   color = 'navy',
                   bins = 10,
                   kde=True)
graph.set_title("Availability(<10days) vs Listings",
                size=25,
                pad=12);

##### 1. Why did you pick the specific chart?

Histogram is often used to illustrate the major features of the distribution of the data in a convenient form. It is also useful when dealing with large data sets (greater than 100 observations). It can help detect any unusual observations (outliers) or any gaps in the data.

##### 2. What is/are the insight(s) found from the chart?

We can see that majority of people prefer booking hotel with availability 1 day. 
A hotel for day-use is a very convenient solution for frequent travelers and businesspeople. That's why so many airport hotels offer daystays. Travelers can spend their transit time at a day-use hotel or simply book a dayroom for a stay between flights - an ideal way to relax.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

New hotel owners and existing owners should focus that when listing new hotel they make minimum 1 day availabilty for better business.

#### Chart - 5: **COUNTPLOT** on Minimum night stays

In [ ]:
plt.figure(figsize=(20,10))
sns.set(font_scale=2)
sns.set(style="darkgrid")

graph=sns.histplot(data = df,
                   x= "minimum_nights",
                   color = 'navy',
                   kde=True)
graph.set_title("Minimum nights vs Frequency",
                size=25, pad=12);

We will narrow our study to minimumn 10 nights only as the data above that is not clear and all the same.

In [ ]:
plt.figure(figsize=(20,10))
sns.set(style="darkgrid")
# sns.set(font_scale=2)

data = df[df['minimum_nights']<=50]

graph=sns.countplot(data=data,
                    x="minimum_nights",
                    color = 'navy')
graph.set_title("Minimum nights(<10nights) vs Frequency",
                size=25,
                pad=12);

##### 1. Why did you pick the specific chart?

Countplot show the counts of observations in each categorical bin using bars. A count plot can be thought of as a histogram across a categorical, instead of quantitative, variable.

##### 2. What is/are the insight(s) found from the chart?

We can see that majority of people prefer booking hotel with minimum 3 night stay ,also minimum 30 days is slighlty popular .

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

New hotel owners and existing owners should focus that when listing new hotel they make minimum 3 night stay for better business also theres a market for minimum 30 day stay so they should focus on that too.

#### Chart - 6: **BARPLOT** on Average night stays in different areas

Data preparation for our barplot: Grouping the data with respect to Area and narrowing our data by minimum night people stay , then taking the mean of these minimum nights and then finally sorting this data with respect to the mean of the minimum night stays.

In [ ]:
min_stays_in_different_rooms= df.groupby('neighbourhood_group',as_index=False)['minimum_nights']
min_stays_in_different_rooms= min_stays_in_different_rooms.mean()
min_stays_in_different_rooms = min_stays_in_different_rooms.sort_values(['minimum_nights'],ascending = False)
min_stays_in_different_rooms

In [ ]:
x_param3 =min_stays_in_different_rooms['minimum_nights']
y_param3 =min_stays_in_different_rooms['neighbourhood_group']

In [ ]:
plt.figure(figsize=(20,10))
sns.set(font_scale=2)
sns.set_style("darkgrid")

plt.xlabel('Minimum nights',size=25)
plt.ylabel('Area',size=25)

graph = sns.barplot(x = x_param3,
                    y = y_param3 ,
                    linewidth=2,
                    color='#ff5252')

graph.set_title("Area vs avg night stays",
                size=35, pad=12);

##### 1. Why did you pick the specific chart?

The bar plots in this study visually describe the mean of a minimum night stays across different areas which acts as a categorical variable.

##### 2. What is/are the insight(s) found from the chart?

The mean of minimum night stays in Manhattan is the most according to our study which is approx. 8 followed by brooklyn which is 6 and rest three have almost 5 .

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

The new hotel owners and existing owners should focus on manhattan as people prefer using hotel for a longer time here so they can make offers for more than minimum 8 night stays and similary they can do this for other areas too.

#### Chart - 7: **PIECHART** and **Histogram** on Price Range of Listings of hotel

In [ ]:
plt.figure(figsize=(20,10))

sns.set(style="darkgrid")

sns.histplot(data = df, x= "price",color = 'navy', kde=True);

In [ ]:
df.price.max()

As we can see that price of hotel more than $300 is not very popular so we will narrow our study to 300 as the the data above that is not very relevant.

In [ ]:
plt.figure(figsize=(20,10))
sns.set(style="darkgrid")
data4 = df[df['price']<=300]

sns.histplot(data=data4,
             x="price",
             color = 'navy',
             bins = 100,
             kde=True);

We will use cut function to categorize the range of price , the bins we are choosing are 0,50,100,150,200,300,10000.

In [ ]:
category= pd.cut(data4.price,bins=[0,50,100,150,200,300,10000],labels=['0-50','50-100','100-150','150-200','200-300','300-10000'])
df.insert(10,'price_range',category)

In [ ]:
df.sample(10)

In [ ]:
data = df['price_range'].value_counts() 
labels = ['very cheap', 'cheap','moderate','expensive','very expensive','super expensive']

plt.figure(figsize=(20,10))
colors = ['#ff6961',"#ffb480","#f8f38d",'#42d6a4','#08cad1','#59adf6']
explode=(0.01,0.01,0.01,0.01,0.01,0.5)

plt.pie(data, labels = labels,
        colors = colors,
        autopct='%.2f%%',
        explode=explode,
        textprops={'fontsize': 15})

plt.title('Pie chart on price range of hotels',
          size=20,
          loc='center',
          pad=12)
plt.legend(title='Price range in $',
           loc='upper left',
           labels=['0-50','50-100','100-150','150-200','200-300','300-10000']);

##### 1. Why did you pick the specific chart?

Histogram- To illustrate the price range of hotel rooms of the data in convinent form.

Pie chart- Usually, pie charts do not make sense for continuous data. Since continuous data are measured on a scale with many possible values, showing a parts-to-whole relationship does not make sense.
But here to show the categorization of price range ,pie chart illustrates exactly what we need.

##### 2. What is/are the insight(s) found from the chart?

We can see that the most popular price range is the very cheap (0-50)category followed by cheap (50-100), moderate(100-150) and expensiver(150-200) are somewhere consist of same amount of data and very expensive (200-300) is the lesser than two above. The least popular category is super expensive (300-10000).

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

New hotel owners and existing owners should focus on very cheap , cheap , moderate , expensive category as people are more interested in that category because obviously people want cheap rooms as possible. The least priority should be the super expensive as very low people are interested in it.

#### Chart - 8: **BARPLOT** on price of room type wrt Area

In [ ]:
plt.figure(figsize=(20,10))
sns.set(font_scale=2)
sns.set_style("darkgrid")

graph= sns.barplot(x = 'neighbourhood_group',
            y='price',
            hue = 'room_type',
            data = df,
            palette = "tab10")
graph.set_title("Price of room type wrt Area",
                size=35,
                pad=12);

##### 1. Why did you pick the specific chart?

A grouped bar chart is used when you want to look at how the second category variable changes within each level of the first, or when you want to look at how the first category variable changes across levels of the second.

##### 2. What is/are the insight(s) found from the chart?

We can see that in every area Enire home/apt is more preferred by the people followed by Private room and the least preferred is shared room but in queens and staten island people prefer almost equally private room and shared room.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

It is clear from the chart that entire home/apt is most popular so new owners and existing owners of hostel should focus on that for every area.

#### Chart - 9: **BARPLOT** on Top 10 most expensive neighbourhoods

In [ ]:
top_10_expensive_neighbourhood= df.groupby(['neighbourhood'],as_index=False)['price']
top_10_expensive_neighbourhood= top_10_expensive_neighbourhood.mean()
top_10_expensive_neighbourhood = top_10_expensive_neighbourhood.sort_values(['price'],ascending = False)[:10]
top_10_expensive_neighbourhood

In [ ]:
x_param4 =top_10_expensive_neighbourhood['neighbourhood']
y_param4 =top_10_expensive_neighbourhood['price']

In [ ]:
plt.figure(figsize=(20,10))
sns.set(font_scale=2)


graph = sns.barplot(x = x_param4,
                    y = y_param4 ,
                    linewidth=2,
                    palette= "tab10")

graph.set_title("Top 10 expensive locations",
                size=35,
                pad=12)
graph.set_xticklabels(graph.get_xticklabels(),
                      rotation= 45,
                      horizontalalignment='right');

##### 1. Why did you pick the specific chart?

Bar charts make sense for categorical or nominal data, since they are measured on a scale with specific possible values. With categorical data, the sample is often divided into groups, and the responses have a defined order.

##### 2. What is/are the insight(s) found from the chart?

From the above chart we know that top 10 expensive locations are Fort Wadsworth , woodrow , Tribeca , Sea Gate , riverdale , Princes Bay ,Battery Park City , Flatiron District , Randall Manor , NoHo in this order.

#### Chart - 10: **BARPLOT** on Top 10 most cheapest neighbourhoods

In [ ]:
top_10_cheapest_neighbourhood= df.groupby(['neighbourhood'],as_index=False)['price']
top_10_cheapest_neighbourhood= top_10_cheapest_neighbourhood.mean()
top_10_cheapest_neighbourhood = top_10_cheapest_neighbourhood.sort_values(['price'],ascending = True)[:10]
top_10_cheapest_neighbourhood

In [ ]:
x_param5 =top_10_cheapest_neighbourhood['neighbourhood']
y_param5 =top_10_cheapest_neighbourhood['price']

In [ ]:
plt.figure(figsize=(20,10))
sns.set(font_scale=2)

graph = sns.barplot(x = x_param5,
                    y = y_param5 ,
                    linewidth=2,
                    palette= "tab10")

graph.set_title("Top 10 cheapest Locations",
                size=35,
                pad=12)
graph.set_xticklabels(graph.get_xticklabels(),
                      rotation= 45,
                      horizontalalignment='right',);

##### 1. Why did you pick the specific chart?

Bar charts make sense for categorical or nominal data, since they are measured on a scale with specific possible values. With categorical data, the sample is often divided into groups, and the responses have a defined order.

##### 2. What is/are the insight(s) found from the chart?

From the above chart we know that top 10 cheapest locations are Bulls Head, Hunts Point, Tremont, Soundview, New drop, Bronxdale, New Dorp Beach, Grant City, Concord, Mount Eden in this order.

#### Chart - 11: **SCATTERPLOT** for Geographic analysis

In [ ]:
plt.figure(figsize=(20,10))

fig = sns.scatterplot(data=df,
                      y='longitude',
                      x='latitude',
                      hue='neighbourhood_group',
                      s=100)
fig.set_title("Map of Newyork wrt listings in different area",
              size=30, pad=12);

In [ ]:
plt.figure(figsize=(20,10))

fig = sns.scatterplot(data=df,
                      y='longitude',
                      x='latitude',
                      hue='room_type',
                      s=100)
fig.set_title("Map of Newyork wrt different room types",size=35, pad=12);

In [ ]:
plt.figure(figsize=(20,10))

fig = sns.scatterplot(data=df,
                      y='longitude',
                      x='latitude',
                      hue='availability_365',
                      s=100,
                      palette="YlOrBr")
fig.set_title("Map of Newyork wrt availabilty of room(days)",size=35, pad=12);

In [ ]:
plt.figure(figsize=(20,10))

df_plot = df.loc[df.price <= 300]

fig = sns.scatterplot(data=df_plot,
                      y='longitude',
                      x='latitude',
                      size='price',
                      hue='price',
                      s=100)
fig.set_title("Map of Newyork wrt price of room (less than $300)",size=35, pad=12);

In [ ]:
plt.figure(figsize=(20,10))

df_plot = df.loc[df.price > 300]

fig = sns.scatterplot(data=df_plot,
                      y='longitude',
                      x='latitude',
                      hue='price',
                      palette= "hls",
                      s=100)
fig.set_title("Map of Newyork wrt price of room (more than $300)",size=35, pad=12);

##### 1. Why did you pick the specific chart?

Scatterplots separate the data from the spatial element of the map, in order to make a clearer picture of the relationships between the data. When incorporated into the map legend, scatterplots offer an additional perspective by visualizing the data patterns.

##### 2. What is/are the insight(s) found from the chart?

From the above analysis and all the charts we have clear picture of hotel listings in different part of new york, different room types in new york ,availabilty of rooms in new york and price of the hotels in new york.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

New hotel owners and the existing ones can have clear mindset after referring the above chart and study to where should they deploy their business.

#### Chart - 12 - Correlation **Heatmap**

In [ ]:
plt.figure(figsize=(20,10))
heatmap = sns.heatmap(df.corr(), cmap="YlGnBu", annot=True)

heatmap.set_title('Correlation Heatmap',
                  fontdict={'fontsize':30},
                  pad=12);

##### 1. Why did you pick the specific chart?

A correlation matrix is a table showing correlation coefficients between variables. Each cell in the table shows the correlation between two variables. A correlation matrix is used to summarize data, as an input into a more advanced analysis, and as a diagnostic for advanced analyses. The range of correlation is [-1,1].

Thus to know the correlation between all the variables along with the correlation coeficients, i used correlation heatmap.

##### 2. What is/are the insight(s) found from the chart?

We can see that id and host_id are highly positively correlated with value 0.59 and number of reviews and reveiws per mont are highly pistively correlated with value 0.55.

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ? 
Explain Briefly.

As per business point of view Hotel business men should see that Entire home/apt and private room is more in demand and the shared room is the least, The popular areas for hotel booking are manhattan and brooklyn and the most popular location for hotel booking is Williamsberg so clients should focus on these areas.
The minimum nights to stay at the hotel should be as low as possible and the most popular figure turns out to be one minimum night stay.
The average night stays in manhattan is approx 8 days which is the most among other areas and so the client should take advantage of these figures and assign the prices of the room accordingly.
The most popular price range for people to book hotel is 0-50 dollars and 50-100 dollars so clients put up the listings of these category more.
The most expensive location for hotel listing is Fort wadsworth so client can build luxury hotel rooms here as people are ready to pay the price in this location.
The most cheapes location for hotel listing is Bulls head so client can build cheap hotel rooms here as people prefer paying less here.
Clients should also take note of the Geographic analysis of the new york before building new hotels or listinn a new room.

# **Conclusion**

*   The most Popular room type is Entire home/pvt room.
*   The most popular area for the hotel listing is Manhattan.
*   The most popular location for hotel listing is Williamsberg
*   Availability of the room can be low as 1 day as.
*   The poular figure of Minimum night stays for the hotel is 1 day.
*   The average night stay in manhattan is approx 8 nights , followed by brooklyn which is 6 nights then queens, staten island and bronx have approx 5 nights.
*   The most popular price range for hotel booking 0 to 50 dollars.
*   Entire home/apt is the most popular room type in every area.
*   The most expensive location to book a hotel is Fort wadsworth
*   The most cheapest location to book a hotel is Bulls head.

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***